<footer class="bg-[#353535] pl-5 py-6">
  <h4 class="font-shrikhand text-white mb-3">ohmyfood</h4>
  <ul class="flex flex-col gap-y-1">
    <li class="text-white text-sm">
      <fa-icon [icon]="faUtensils" class="mr-1.5"></fa-icon>
      Proposer un restaurant
    </li>
    <li class="text-white text-sm">
      <fa-icon [icon]="faHandshake" class="text-xs mr-1"></fa-icon>
      Devenir partenaire
    </li>
    <li class="text-white text-sm">Mentions légales</li>
    <li class="text-white text-sm">Contact</li>
  </ul>
</footer>
