<header class="flex flex-col justify-center">
  <div class="py-3 border-b-4 border-gray-300 flex justify-center">
    <img
      src="/assets/images/logo/ohmyfood.png"
      alt="Logo ohmyfood"
      class="w-40"
    />
  </div>

  <!-- Search Section -->
  <section>
    <div class="py-2 bg-dark-gray flex justify-center items-center gap-4">
      <fa-icon [icon]="faLocationDot"></fa-icon>
      <p class="text-sm">Paris, Belleville</p>
    </div>
  </section>

  <!-- Heading -->
  <section class="bg-light-gray py-7 text-center">
    <h1 class="text-xl font-extrabold px-10 mb-2 leading-6">
      Réservez le menu qui vous convient
    </h1>
    <p class="font-thin text-sm">
      Découvrez des restaurants d'exception, sélectionnés par nos soins.
    </p>
    <button class="button block mx-auto hover:opacity-80">
      Explorer nos restaurants
    </button>
  </section>
</header>
