<section
  class="bg-light-gray pt-10 pb-4 px-4 md:mx-10 md:px-10 md:rounded-3xl md:py-10"
>
  <h2 class="font-bold text-xl mb-4 md:text-center md:text-2xl md:mb-10">
    Restaurants
  </h2>
  <div class="flex flex-col gap-y-4 lg:grid lg:grid-cols-2 lg:gap-6">
    <article
      *ngFor="let restaurant of restaurantList"
      class="rounded-2xl overflow-hidden menu-shadow md:mb-4"
    >
      <a (click)="getToMenu(restaurant.id)">
        <div class="relative">
          <small
            *ngIf="restaurant.tag"
            class="absolute top-3 right-3 bg-[#99E2D0] text-green-700 py-1 px-2.5"
            >{{ restaurant.tag }}</small
          >
          <img
            [src]="restaurant.cover"
            class="object-cover bg-center h-36 w-full"
          />
        </div>
        <div class="p-3 relative bg-white">
          <h3 class="font-bold text-base">{{ restaurant.menu }}</h3>
          <p class="font-light text-sm">{{ restaurant.location }}</p>
          <fa-icon
            [icon]="faHeart"
            class="absolute top-1/4 right-6 text-4xl"
          ></fa-icon>
        </div>
      </a>
    </article>
  </div>
</section>
