<section>
  <h2 class="text-xl font-bold ml-4 mb-6 md:text-center md:text-2xl">
    Fonctionnement
  </h2>

  <div class="grid gap-y-5 mx-6 md:grid-cols-3 md:gap-x-5 md:mx-10">
    <div
      class="group flex items-center bg-light-gray pl-8 gap-x-5 py-5 rounded-2xl relative hover:bg-[#f5edff] card-shadow"
    >
      <span
        class="absolute -left-2 text-white bg-color-primary text-xs rounded-full w-5 py-0.5 text-center"
        >1</span
      >
      <fa-icon
        class="text-gray-500 group-hover:text-color-primary"
        [icon]="faMobileScreenButton"
      ></fa-icon>
      <p class="text-xs font-bold">Choisissez un restaurant</p>
    </div>

    <div
      class="group flex items-center bg-light-gray pl-8 gap-x-5 py-5 rounded-2xl relative hover:bg-[#f5edff] card-shadow"
    >
      <span
        class="absolute -left-2 text-white bg-color-primary text-xs rounded-full w-5 py-0.5 text-center"
        >2</span
      >
      <fa-icon
        class="text-gray-500 group-hover:text-color-primary"
        [icon]="faList"
      ></fa-icon>
      <p class="text-xs font-bold">Composez votre menu</p>
    </div>

    <div
      class="group flex items-center bg-light-gray pl-8 gap-x-5 py-5 rounded-2xl relative hover:bg-[#f5edff] card-shadow"
    >
      <span
        class="absolute -left-2 text-white bg-color-primary text-xs rounded-full w-5 py-0.5 text-center"
        >3</span
      >
      <fa-icon
        class="text-gray-500 group-hover:text-color-primary"
        [icon]="faStore"
      ></fa-icon>
      <p class="text-xs font-bold">Dégustez au restaurant</p>
    </div>
  </div>
</section>
